/*-------------------------
navbar
-------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color:#fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*-------------------------
table
-------------------------*/
.cCentrato{
    text-align: center;

}

a{
    text-decoration: none;
    color: black;
  	text-align: center;
}
table, th, td,tr{
    border: 2px solid grey;
}
thead{
    background: rgba(10, 100, 100, 0.5);
}
.indietro{
    background: red;
    color: white;
    padding: 5px;
	text-align: center;
}
h3 {
	font-family: 'Arvo', serif;
	font-size: 20px;
	letter-spacing: 1px;
	max-width: 320px;
	width: 100%;
	position: relative;
	display: inline-block;
	color: #000000;
	text-align: center;
}

h2 {
	font-family: 'Arvo', serif;
	font-size: 25px;
	letter-spacing: 1px;
	max-width: 320px;
	width: 100%;
	position: relative;
	display: inline-block;
	color: #000000;
	text-align: center;
}

h1 {
	font-family: 'Arvo', serif;
	  font-size: 30px;
	  letter-spacing: 1px;
	  max-width: 320px;
	  width: 100%;
	  position: relative;
	  display: inline-block;
	  color: #FF0000;
	  text-align: center;
}

div.allinea { float:left; margin-left:10px; }

/*-------------------------
other
-------------------------*/



/*-------------------------
Footer
-------------------------*/
.footer{background:#333;left: 0; bottom: 0;color:#fff; margin-top: 40 px;position:relative;width: 100%; text-align: center}
